# hide tmp(_), secure(__) files
_*
__*

# Flutter/Dart related
pubspec*
.dart_tool

########################################
# Mac OS finder
.DS_Store

# vscode configurations
.vscode
.history

# vim swap file
.*.swp
.*.swo

# gcc/g++ output files
*.out
*.o
*.exe

# java output files
*.class
/build/
